/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Futura-Bold&display=swap');
html, body {
    margin: 0;  /* 去掉網頁主體的預設外邊距 */
}
#top_left {
    position: absolute;
    clip: rect(0px, 500px, 500px, 0px);
    transform: scale(0.6);
    top: -35px;
    left: -25px;
}
#top_right {
    position: absolute;
    clip: rect(0px, 500px, 130px, 0px);
    top: -35px;
    right: -10px;
}
#top {
    background-color: black;
    width: 1725px;
    height: 95px;
}
#middle_top {
    position: absolute;
    clip: rect(0px, 1200px, 1000px, 0px);
    justify-content: center;
    top: -8%;
    left: 20%;
    transform: scale(0.5);
}
#middle {
    position: absolute;
    justify-content: center;
    top: 70%;
    left: 53%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Futura Bold', sans-serif;
    font-weight: 1000;
    font-size: 4rem;  /* 設置標題字體大小 */
    letter-spacing: -4px;  /* 設置字母間距 */
    position: absolute;  /* 設置標題的絕對定位，相對於最近的已定位祖先元素 */
    margin: 0;  /* 去掉標題的預設外邊距 */
    justify-content: center;
    top: 83%;
    left: 51%;
    transform: translate(-50%, -50%);
}
#myText{
    font-family: 'Futura Bold', sans-serif;
    font-weight: 1000;
    font-size: 4rem;  /* 設置標題字體大小 */
    letter-spacing: -4px;  /* 設置字母間距 */
    position: absolute;  /* 設置標題的絕對定位，相對於最近的已定位祖先元素 */
    margin: 0;  /* 去掉標題的預設外邊距 */
    justify-content: center;
    top: 83%;
    left: 63%;
    transform: translate(-10%, -50%);
}
#myText2{
    font-family: 'Futura Bold', sans-serif;
    font-weight: 1000;
    font-size: 4rem;  /* 設置標題字體大小 */
    letter-spacing: -4px;  /* 設置字母間距 */
    position: absolute;  /* 設置標題的絕對定位，相對於最近的已定位祖先元素 */
    margin: 0;  /* 去掉標題的預設外邊距 */
    justify-content: center;
    top: 83%;
    left: 64%;
    transform: translate(0%, -50%);
}
#bottom {
    position: absolute;
    justify-content: center;
    top: 80%;
    left: 89%;
    transform: scale(0.5);
}